services:
  spark-master:
    image: apache/spark:4.1.0
    container_name: spark-master
    ports:
      - '8080:8080'
      - '7077:7077'
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    hostname: spark-master
    networks:
      - spark-net

  spark-worker-1:
    image: apache/spark:4.1.0
    container_name: spark-worker-1
    environment:
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    hostname: spark-worker-1
    networks:
      - spark-net

  spark-worker-2:
    image: apache/spark:4.1.0
    container_name: spark-worker-2
    environment:
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    hostname: spark-worker-2
    networks:
      - spark-net

  spark-worker-3:
    image: apache/spark:4.1.0
    container_name: spark-worker-3
    environment:
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    hostname: spark-worker-3
    networks:
      - spark-net

  airflow:
    image: apache/airflow:2.7.1
    container_name: airflow-standalone
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _AIRFLOW_DB_MIGRATE=true
      - _AIRFLOW_WWW_USER_CREATE=true
    ports:
      - "8081:8080"
    command: bash -c 'airflow db migrate && airflow users create --username "${_AIRFLOW_WWW_USER_USERNAME}" --password "${_AIRFLOW_WWW_USER_PASSWORD}" --firstname "${_AIRFLOW_WWW_USER_FIRSTNAME}" --lastname "${_AIRFLOW_WWW_USER_LASTNAME}" --role Admin --email "${_AIRFLOW_WWW_USER_EMAIL}" 2>/dev/null || true && airflow webserver -p 8080 & airflow scheduler'
    depends_on:
      - spark-master
    networks:
      - spark-net

networks:
  spark-net:
    driver: bridge
